{{#if raceBucket.segments}}
  <table cellspacing=0>
    <tr>
      <th><div>Segment Name</div></th>
      <th><div>Distance</div></th>
      <th></th>
    </tr>
    {{#each raceBucket.segments as |segment|}}
      <tr>
        <td><div>{{segment.name}}</div></td>
        <td><div>{{segment.distance}} Meters</div></td>
        <td><div><button {{action 'removeFromRace' segment}}>Remove</button></div></td>
      </tr>
    {{/each}}
  </table>
  <h3>Create Race</h3>
  <label for="name">Add a name for the race</label>
  {{input class="form-control" value=name id="name"}}
  <label for="start">Start Date</label>
  {{input class="form-control" type="date" value=start id="start"}}
  <label for="end">End Date</label>
  {{input class="form-control" type="date" value=end id="end"}}
  <button class="" {{action 'createRace'}}>Create Race</button>
{{/if}}
